#!/usr/bin/env python
PACKAGE = "nav_pkg"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("max_vel_x", double_t, 0, "Maximum linear velocity", 0.5, 0.0, 2.0)
gen.add("min_vel_x", double_t, 0, "Minimum linear velocity", 0.05, 0.0, 0.5)
gen.add("max_vel_theta", double_t, 0, "Maximum angular velocity", 1.0, 0.0, 5.0)
gen.add("acc_lim_x", double_t, 0, "Maximum linear acceleration", 0.5, 0.0, 5.0)
gen.add("acc_lim_theta", double_t, 0, "Maximum angular acceleration", 1.0, 0.0, 5.0)

gen.add("lookahead_dist", double_t, 0, "Lookahead distance", 0.5, 0.1, 2.0)
gen.add("goal_tolerance", double_t, 0, "Goal tolerance distance", 0.1, 0.01, 0.5)
gen.add("goal_tolerance_theta", double_t, 0, "Goal tolerance angle", 0.05, 0.01, 0.5)

gen.add("kp_linear", double_t, 0, "Linear velocity proportional gain", 1.0, 0.0, 10.0)
gen.add("kp_angular", double_t, 0, "Angular velocity proportional gain", 2.0, 0.0, 10.0)

exit(gen.generate(PACKAGE, "nav_pkg", "SimplePathFollower"))

